<div class="container" align="center">
<h1> Edit my gossip </h1>
<br>

<%= form_for :gossips do |f| %>

 



  <div class="field">

    <%= f.label :Your_gossip_here %><br />
    <%= f.text_area :content, autofocus: true %>

  </div>

<br>

  <div class="actions">

    <%= f.submit "Edit my gossip" %>

  </div>

<% end %>


<br>

<p align="left"> <%= link_to('Back to all gossips', gossips_path,class: "btn btn-success") %> </p> 
</div>