
<% if user_signed_in? %>

<h1> Gossip Tab </h1>

<table class="table table-striped">
  <tr>
    <th>Anonymous Author</th>
    <th>Gossip</th>
    <th>Created at </th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @gossips.each do |gossip| %> 

    <tr>
      <td><%= gossip.user.username %></td>
      <td><%= gossip.content %></td>
      <td><%= gossip.created_at.strftime("%d-%m-%Y") %></td>
      <td><%= link_to "Show", gossip_path(gossip) %></td>
      <% if current_user == gossip.user %>
      	<td>
      	 <%= link_to "Delete", gossip_path(gossip), method: :delete, data: { confirm: 'Are you sure ?' } %> 
      	</td>
      <% else %><td></td><td></td>
      <% end %>        
    </tr>
  <% end %>
</table>

<p class = "text-center"> <%= link_to('Write a new gossip', new_gossip_path, class: "btn btn-success") %> </p> 

<p class = "text-center"> <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "btn btn-warning" %>

<% else %>

<h1> HEY YOU! </h1>
<p> Wanna bitch around ? Connect or join us now !</p>

<p class = "text-center"> <%= link_to 'Log in', new_user_session_path, class: "btn btn-primary" %> or <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-success" %> 
</p>

<% end %>